



<div class="title-block"></div>


<ion-tabs #tabs class="color">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="book"></ion-icon>
      <ion-label>หน้าแรก</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="uploader">
      <ion-icon name="add"></ion-icon>
      <ion-label>อัพโหลดไฟล์</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="image"></ion-icon>
      <ion-label>ไฟล์ภาพ</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>