<ion-header>
  <ion-toolbar color="primary">
    <ion-title>อัพโหลดไฟล์</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-loading *ngIf="!busy"></app-loading>

  <div class="center" *ngIf="!busy">

    <div class="camera"></div>

      <input type="file" *ngIf="!imageURL" (change)="fileChanged($event)" class="filebtn" #fileButton />

<ion-button shape="round" color="primary" (click)="uploadFile()" *ngIf="!imageURL" fill="outline">อัพโหลด</ion-button>
    
<ion-card *ngIf="imageURL">
      <img src="https://ucarecdn.com/{{ imageURL }}/" />
    

<ion-card-content>
  <ion-textarea placeholder="เขียนอะไรสักอย่างเกี่ยวกับรูปของคุณ!" [(ngModel)]="desc"></ion-textarea>
  <ion-button shape="round" color="primary" (click)="createPost()">POST</ion-button>
</ion-card-content>
</ion-card>
  
  </div>

</ion-content>



