<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      โน๊ตของฉัน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title-block">
    <div class="heading" text-center>
      <i>
      <u>
        My Notes
      </u>
    </i></div>

  </div>

 
  <ion-list>
    <ion-list-header color="light">
      
          <h4 color="light" class="text-center">
            <i>Note</i> 
          </h4>
      
    </ion-list-header>
    <ion-item *ngFor="let note of (notes | async)">
      <ion-thumbnail slot="start">
        <img src="assets/note.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>{{note.title}}</h2>
        <p>{{note.content}}</p>
      </ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="'/view-note/'+note.id">ดูโน๊ต</ion-button>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/add-note'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>